.jumbotron {
	background-color: #438492;
}

.dataBox {
	border: 2px solid #E7CB08;
	border-radius: 20px;
	margin: 10px;
}

.champBox{
	color: white;
	border: 1px solid #E7CB08;
	border-radius: 5px;
	background-color: #292428;
	padding: 2px;
	margin: 2px;
}

.champImage{
	width: 30%;
	height: auto;
}

.champLink{
	color: yellow;
}

body {
	background-color: #0E0E0E;
}


#porkchop {
	color: white;
}

#banner {
	width: 100%;
	height: auto;
}

#main-profile {
	padding: 10px;
}
