<!DOCTYPE html>
<html>
<head>
	<title>PORKCHOP SANDWICHES</title>
	<meta charset="utf-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="hellastyle.css">
	<!-- Latest compiled and minified JavaScript -->
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header navbar-left">
				<ul class="nav navbar-nav">
					<li> <a href="#">ARAM Predictor</a></li>
					<li> <a href="#">Profile</a></li>
					<li> <a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="container-fluid navbar-header navbar-right">
				<ul class="nav navbar-nav">
					<li><div class="container-fluid"> 
							<input id="searchSummoner" placeholder="Summoner Name" type="text">
							<span>
								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Region <span class="caret"></span>
								</button>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<a href="#">NA</a>
									</li>
									<li>
										<a href="#">EU</a>
									</li>
									<li>
										<a href="#">CHINA</a>
									</li>
								</ul>
							</span>
						</div>
					</li>
					<li> <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Go!</button></li>
				</ul>
			</div>
		</div>
	</nav>
	<div>
		<img id="banner" src = "assets/lol-banner.png">
	</div>
	<div class="container">



<footer>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src = 'javabitches.js'> </script>
	<p>&copy; 2015 Drewsoft Inc.
</footer>
</body>
</html>