{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="leagueARAM">
<head>
	<title>PORKCHOP SANDWICHES</title>
	<meta charset="utf-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static "aram/css/hellastyle.css" %}">
	<!-- Latest compiled and minified JavaScript -->
</head>
<body>


<!-- Angular!! -->
	<div ng-view>
	</div>

<!-- Scripts!! -->
<footer>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src = '{% static "aram/app.js" %}'> </script>
	<script src = '{% static "aram/js/ListChampionsController.js" %}'> </script>
	<script src = '{% static "aram/js/ARAMController.js" %}'> </script>
	<script src = '{% static "aram/js/HeroListFactory.js" %}'> </script>
	<script src='{% static "aram/js/PlayerStatsFactory.js" %}'></script>
	<script src='{% static "aram/js/getIDService.js" %}'></script>
	<script src='{% static "aram/js/StaticHeroesFactory.js" %}'></script>
	<script src='{% static "aram/js/StaticEnemiesFactory.js" %}'></script>
	<script src='{% static "aram/js/StaticESumFactory.js" %}'></script>
	<script src='{% static "aram/js/StaticFSumFactory.js" %}'></script>


	<p id="copyright">&copy; 2015 Drewsoft Inc.
</footer>
</body>
</html>